<p>
  <b>User:</b>
  <%= @question.user %>
</p>

<p>
  <b>Body:</b>
  <%= @question.body %>
</p>

<ul>
  <% @question.question_options.each do |question_option| %>
  <li><%= question_option %></li>
  <% end %>
</ul>



<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
