<div class="row">
  <div class="col-md-3">
    <%= gravatar_for(@user) %>
    <h3><%= @user.username %></h3>
    <dl>
      <dt>My Points</dt>
      <dd><%= @user.points %></dd>
    </dl>
  </div>
  <div class="col-md-9">
    <% if @featured_poll %>
      <% if current_or_guest_user.answered?(@featured_poll) %>
        <%= render :partial => '/polls/results', :locals => {:poll => @featured_poll} %>
      <% else %>
        <%= render :partial => '/polls/vote', :locals => {:response => @response} %>
      <% end %>
    <% end %>
  </div>
</div>
