<nav class="simple-nav" role="navigation">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="logo">
      <%= link_to root_url do %>
        <h2 class="main-title">
          <%= image_tag 'logo.png', :class => "brand" %>
          Pollse</h2>
      <% end %>
      </div>

        <ul class="pull-right">
 		 		  	<% if current_or_guest_user.guest? %>
          	  <li>
	            	<%= link_to 'Sign Up', new_user_registration_path %>
	            </li>
	            <li>
	            	<%= link_to 'Sign In', new_user_session_path %>
	            </li>
          <% else %>
					<li>
						<%= link_to "", destroy_user_session_path, :method => :delete, :class => "glyphicon glyphicon-log-out" %>
	        </li>						<li>
          <%= link_to user_path(current_user), :style => "padding-top: 0px;" do %>
			          <%= gravatar_for(current_or_guest_user, 36) %> Me
							<% end %>
						</li>

		      <% end %>
		      <li class="primary">
			      <%= link_to "Answer", polls_path %>
		       </li>
		      <li class="primary">
							 <%= link_to "Ask", new_poll_path %>
			      </li>

	  
        </ul>
    </div>
  </div>
</div>
</nav>
