<nav class="navbar" role="navigation">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="navbar-header">
        	<%= link_to(image_tag("pollse_logo3.png", :alt => "Pollse"), root_url, :class => "navbar-brand") %>
      </div>

      <div class="collapse navbar-collapse navbar-ex8-collapse">
        <ul class="nav navbar-nav navbar-right">
         <li>
						 <%= link_to "New Poll", new_poll_path %>
		      </li>
		      <li>
			      <%= link_to "Answer A Question", polls_path %>
		       </li>
		 		  	<% if current_or_guest_user.guest? %>
          	  <li>
	            	<%= link_to 'Sign Up', new_user_registration_path %>
	            </li>
	            <li>
	            	<%= link_to 'Sign In', new_user_session_path %>
	            </li>
          <% else %>
						<li>
							<%= link_to user_path(current_user) do %>
			          <%= current_or_guest_user.email %>!
							<% end %>
						</li>
						<li>
							<%= link_to "Sign Out", destroy_user_session_path, :class => "menuitem", :method => :delete %>
		        </li>
		      <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
</nav>
