<h1 class="question"><%= poll.question.body %></h1>

<% if current_or_guest_user != poll.user && !current_or_guest_user.answered?(poll) %>
  <%= simple_form_for response, :url => poll_responses_path(poll), :remote => true do |f| %>
    <%= f.input :value, :as => :hidden %>
    <div class="poll">
      <div id="answers" class="btn-group-lg btn-group-vertical">
        <% poll.question.question_options.map(&:response_value).each do |option| %>
          <a class="btn btn-default answer" data-value="<%= option %>"><%= option %></a>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id="poll_results_<%= poll.id %>"></div>
<% else %>
  <%= render :partial => 'results', :locals => {:poll => poll} %>
<% end %>
