<%= simple_nested_form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h4>
      <ul>
        <% @poll.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.simple_fields_for :question do |q| %>
    <div class="form-group">
      <%= q.input :body, :input_html => {:class => "form-control", :rows => 3}, :label => false, :placeholder => "Enter your question here." %>
    </div>
    
    <%= q.simple_fields_for :question_options do |question_option| %>
      <div class="input-group">
        <%= question_option.text_field :response_value, :class => "form-control new-question-form", :placeholder => "Enter one of the question answers here." %>
        <span class="input-group-btn">
          <%= question_option.link_to_remove :class => "btn btn-danger text-danger" do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        </span>
      </div>
      <br>
    <% end %>

    <p><%= q.link_to_add :question_options, :class => "btn btn-sm btn-default" do %>
      <i class="glyphicon glyphicon-plus-sign"></i> Add a Response
      <% end %>
    </p>
  <% end %>
  <div class="actions vspace-med">
    <%= f.submit "Create Question", :class => "btn btn-lg btn-success" %>
  </div>
<% end %>
