<%= simple_nested_form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>`
      <ul>
        <% @poll.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.simple_fields_for :question do |q| %>
    <div class="form-group">
      <%= q.input :body, :input_html => {:class => "form-control", :rows => 6} %>
    </div>
    
    <%= q.simple_fields_for :question_options do |question_option| %>
      <%= question_option.text_field :response_value %>
      <%= question_option.link_to_remove :class => "text-danger" do %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>
    <% end %>
    <p><%= q.link_to_add :question_options, :class => "btn btn-sm btn-primary" do %>
      <i class="glyphicon glyphicon-plus-sign"></i> Add a Response
      <% end %>
    </p>
  <% end %>

  <div class="form-group">
    <%= f.label :start_at %><br />
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br />
    <%= f.datetime_select :end_at %>
  </div>
  <div class="form-group">
    <%= f.label :response_limit %><br />
    <%= f.number_field :response_limit, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :featured do %>
      <%= f.check_box :featured %>
      Featured
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :distribute do %>
      <%= f.check_box :distribute %>
      Distributed
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :vanity do %>
      <%= f.check_box :vanity %>
      Vanity
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :reveal_results do %>
      <%= f.check_box :reveal_results %>
      Make Visible
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Create Question", :class => "btn btn-default" %>
  </div>
<% end %>
