<!DOCTYPE html>
<html>
  <%= render :partial => '/shared/head' %>

  <body id="home">
    <%= render :partial => '/shared/nav' %>

    <%= yield :before_page %>

    <%= yield %>

    <%= yield :after_page %>

    <%= render :partial => '/shared/footer' %>
    <%= render :partial => '/shared/javascript' %>
  </body>
</html>
